# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/settings.json
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Local development
# =========================
.ngrok/
.cloudflare/

# =========================
# Docker (ローカルボリュームを使う場合のみ)
# =========================
docker/mysql/data/
docker/redis/data/