*.log
.DS_Store

# =========================
# Environment
# =========================
.env
.env.backup
.env.production

# =========================
# IDE
# =========================
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# =========================
# Composer
# =========================
/vendor
/auth.json
_ide_helper.php

# =========================
# Node.js
# =========================
/node_modules

# =========================
# Build
# =========================
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage

# =========================
# Storage
# =========================
/storage/*.key
/storage/pail

# =========================
# Laravel
# =========================
Homestead.json
Homestead.yaml

# =========================
# Windows
# =========================
Thumbs.db

# =========================
# AI Project
# =========================
coverage/
coverage.xml

*.pem
*.crt
*.key
